
fastapi
uvicorn[standard]
python-multipart
email-validator
python-dotenv
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[argon2]
argon2-cffi
numpy
Pillow
opencv-python
pydicom
SimpleITK
tensorflow
torch
torchvision
transformers
deep-translator